:root {
    --lightest: #d9e7ff;
    --lighter: #b1c8f0;
    --light: #849cc4;
    --medium: #486498;
    --dark: #3c5074;
    --darker: #303966;
    --darkest: #171b54;
}

@font-face {
    font-family: ProximaNova;
    src: url('fonts/proxima-nova-5978785e4e1ee.woff');
}

html {
    font-family: ProximaNova;
}
body {
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F7F9FB;
}
p {
    margin: 0;
}
h1 {
    margin: 10px;
    font-variant: small-caps;
}
div {
    margin: 0;
}
form {
    margin: 0;
}
button {
    font-family: inherit;
    padding: 5px;
    border-radius: 3px;
    background: var(--darker);
    color: white;
    cursor: pointer;
    display: inline-block;
}

#header-bar {
    background: var(--lightest);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
    padding-right: 10%;
}
#status {
    margin-top: 5px;
    margin-bottom: 15px;
}
#left-buttons {
    position: absolute;
    left: 50px;
    top: 30px;
}
#right-buttons {
    position: absolute;
    right: 50px;
    top: 30px;
}

#main {
    display: flex;
    flex: 1;
}

#board {
    display: flex;
    flex: 2;
    align-items: center;
    /* margin-right: 5%; */
}
#action-area {
    background: var(--lightest);
    width: 20%;
    min-width: 220px;
    border-radius: 3px;
}
#flip-action-div {
    margin-top: 10px;
}
#flip-action {
    background: var(--light);
    padding: 15px;
    margin: auto;
    display: inline-block;
}
#letters-remaining {
    /* flex: 1; */
    margin-top: 10px;
    margin-bottom: 20px;
}
#middle {
    background: var(--light);
    flex: 1;
    padding: 10px;
    width: 50%;
    padding: 10%;
    margin: auto;
    border-radius: 5px;
}
#dummy {
    flex: 1;
    min-height: 20px;
}

#right-nav {
    background: var(--darker);
    color: white;
    min-width: 5%;
    /* position: fixed; */
    right: 0px;
    height: 100%;
    box-shadow: -1px 0px 3px 0px rgba(53, 53, 58, 1);
}
#right-nav * h2 {
    background: var(--light);
    padding: 10px 0px;
    height: 20px;
    margin: 0px;
    width: 0px;
    overflow: hidden;
    border-top-right-radius: 3px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
#right-nav * .icon {
    display: inline-block;
    position: relative;
    background: var(--medium);
    border-radius: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.icon-overlay, .icon-underlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.icon-underlay {
    color: white;
}
.icon-overlay {
    color: transparent;
    text-shadow: 0 0 0 red;
    mix-blend-mode: darken;
    display: none;
}

.title-container {
    display: block;
    margin: 0px 15px;
}
#nav-toggle {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 30px;
    color: var(--light);
}

#chatbar {
    background: var(--lightest);
    flex-direction: column;
    margin: 0px 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
}
#chats {
    background: var(--lighter);
    padding: 10px 0px;
    flex: 1;
}
#chat-input-div {
    height: 50px;
    display: flex;
}
#chat-input-form {
    margin: auto;
}
.message {
    background: white;
    color: black;
    border-radius: 5px;
    width: 90%;
    margin: 8px auto;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}
.message-sender {
    font-size: 10px;
    color: gray;
}
.message-body {
    font-size: 14px;
}

#history {
    background: var(--lightest);
    flex-direction: column;
    margin: 0px 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1px;
    display: none;
}
.history-item {
    background: var(--light);
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.history-item:hover {
    background: var(--medium);
    color: white;
}

.player-space {
    background: var(--lightest);
    display: inline-block;
    flex-flow: row wrap;
    align-items: flex-start;
    border-radius: 3px;
    width: 35%;
    margin: 20px;
    flex: 1;
}
.player {
    background: var(--light);
    margin: 20px;
    padding: 5px;
    border-radius: 3px;
}
.player-name {
    background: var(--lightest);
    padding: 5px;
    border-radius: 3px;
    line-height: 20px;
}
.player-score {
    background: var(--medium);
    color: white;
    padding: 2px 8px;
    margin: 8px 10px;
    line-height: 15px;
    font-size: 14px;
}
.wordlist {
    padding-bottom: 20px;
    min-height: 50px;
    min-width: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.word {
    margin: 5px 5px 0px;
    padding: 5px;
    border-radius: 5px;
    height: 0%;
    cursor: not-allowed;
}
.word:hover {
    background: var(--medium);
}
.word:hover * span {
    opacity: .5;
}

.tile {
    height: 24px;
    width: 24px;
    line-height: 24px;
    display: inline-block;
    margin: 2px;
    border-radius: 3px;
    position: relative;
}
.tile * {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.tile-3d {
    left: -1.5px;
    top: 2px;
    border-radius: 3px;
    height: 24px;
    width: 24px;
    background-color: #857951;
}
.tile-letter {
    left: 1px;
    right: 0px;
    top: 0px;
    background-color: white;
    color: transparent;
    text-shadow: -1px .5px 1px black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.tile-letter-overlay {
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background-color: #F7EED6;
    color: black;
    mix-blend-mode: lighten;
    box-shadow: inset -1px -1px 2px #857951,
                inset 1px 1px 2px #857951;
}

#modal-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
}
.modal {
    display: none;
    position: fixed;
    background: green;
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    top: 20%;
    left: 10%;
    border-radius: 20px;
    text-align: left;
}
.modal {
    display: none;
    position: fixed;
    background: green;
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    top: 20%;
    left: 10%;
    border-radius: 20px;
    text-align: left;
}
.modal > * {
    text-align: center;
    margin-left: auto;
}
.vote {
    display: inline-block;
    background: white;
    height: 30px;
    line-height: 30px;
    width: 80%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.vote:hover {
    background: gray;
}