<head>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.fireworks.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contextMenu.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/anagrams_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anagrams.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contextMenu.min.css') }}">

    <title>Anagrams [{{ game_name }}]</title>
</head>

<body>
    <div id="header-bar">
        <div id="left-buttons">
            <button id="leave-game">Leave Game</button>
            <button id="share-game">Copy Game Link</button>
        </div>
        <h1 id="game-title">Anagrams</h1>
        <input id="current-url" type="hidden">
        <h3 id="status"></h3>
        <div id="right-buttons">
            <button id="undo">Undo</button>
            <button id="redo">Redo</button>
        </div>
    </div>
    <div id="main">
        <div id="board">
            <div class="player-space" id="player-space-left">
            </div>
            <div id="action-area">
                <div id="flip-action-div">
                    <form id="flip-action">
                        <input type="text" id="flip-action-text" name="flip-action-text" autofocus>
                    </form>
                </div>
                <p id="letters-remaining"></p>
                <div id="middle">Middle</div>
                <div id="challenge-button-div">
                    <button id="challenge">Challenge</button>
                </div>
            </div>
            <div class="player-space" id="player-space-right">
            </div>
        </div>
        <div id="right-nav">
            <h1 id="nav-toggle">◄</h1>
            <h2 id="chat-title">CHATS</h2>
            <div id="chatbar">
                <div id="chats">
                </div>
                <div id="chat-input-div">
                    <form id="chat-input-form">
                        <input id="chat-input" type="text">
                    </form>
                </div>
            </div>
            <h2 id="history-title">HISTORY</h2>
            <div id="history">
            </div>
        </div>
    </div>

    <div id="modal-background"></div>
    <div class="modal" id="challenge-modal">
        <h1 id="challenge-status"></h1>
        <h3>How do you vote?</h3>
        <p id='vote-yes'>It's a word</p>
        <p id='vote-no'>It's not a word</p>
    </div>
</body>