<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.fireworks.js') }}"></script>

    <script src="{{ url_for('static', filename='js/anagrams_utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anagrams.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <audio id="flip">
        <source src="{{ url_for('static', filename='sounds/flip.mp3') }}" type="audio/mpeg">
    </audio>
    <audio id="steal">
        <source src="{{ url_for('static', filename='sounds/steal.mp3') }}" type="audio/mpeg">
    </audio>

    <title>Anagrams [{{ game_name }}]</title>
</head>

<body>
    <div id="header-bar">
        <div id="left-buttons">
            <button id="leave-game">Leave Game</button>
        </div>
        <h1 id="game-title">Anagrams</h1>
        <input id="current-url" type="hidden">
        <h3 id="status"></h3>
        <div id="right-buttons">
            <button id="share-game">Copy Game Link</button>
            <!-- <button id="undo">Undo</button>
            <button id="redo">Redo</button> -->
        </div>
    </div>
    <div id="main">
        <div id="board">
            <div class="player-space" id="player-space-left">
            </div>
            <div id="action-area">
                <div id="flip-action-div">
                    <form id="flip-action" autocomplete="off">
                        <input type="text" id="flip-action-text" name="flip-action-text" autofocus>
                    </form>
                </div>
                <p id="letters-remaining"></p>
                <div id="middle"></div>
                <div id="dummy"></div>
            </div>
            <div class="player-space" id="player-space-right">
            </div>
        </div>
        <div id="right-nav">
            <h1 id="nav-toggle">◄</h1>
            <br>
            <span class="title-container">
                <span class="icon" id="chat-icon">
                    <span class="icon-underlay">💬</span>
                    <span class="icon-overlay">💬</span>
                </span>
                <h2 id="chat-title">CHAT</h2>
            </span>
            <div id="chatbar">
                <div id="chats">
                </div>
                <div id="chat-input-div">
                    <form id="chat-input-form" autocomplete="off">
                        <input id="chat-input" type="text">
                    </form>
                </div>
            </div>
            <br>
            <span class="title-container">
                <span class="icon" id="history-icon">
                    <span class="icon-underlay">⟲</span>
                    <span class="icon-overlay">⟲</span>
                </span>
                <h2 id="history-title">HISTORY</h2>
            </span>
            <div id="history">
                <p class="history-item">Blah</p>
                <p class="history-item">Blah</p>
                <p class="history-item">Blah</p>
            </div>
        </div>
    </div>

    <div id="modal-background"></div>
    <div class="modal" id="challenge-modal">
        <h1 id="challenge-status"></h1>
        <h3 id="challenge-question">How do you vote?</h3>
        <span class="vote" id="vote-yes">It's a word</span><span class="tally" id="yes-votes"></span>
        <br>
        <span class="vote" id="vote-no">It's not a word</span><span class="tally" id="no-votes"></span>
    </div>
</body>