<script>
    function get_username() {
        if (document.cookie.length==0) {
            return false;
        } else {
            return document.cookie.split("=")[1]
        }        
    }
    function setUsernameAndReload(){
        username = document.getElementById('username').value;
        document.cookie = "username="+username;
    }
    window.onload = function get_body() {
        var username = get_username();
        var body = document.getElementsByTagName('body')[0];
        if (username) {
            body.insertAdjacentHTML('afterbegin', `
            <form action='/join_game'">
                <input type="text" name="game_name" value="Please enter a room name..." autofocus=True>
                <input type="hidden" name="username" value="`+username+`">
            </form>
            `)
            // document.getElementById('username').focus();
        } else {
            body.insertAdjacentHTML('afterbegin', `
            <form onsubmit="setUsernameAndReload()">
                <input type="text" id="username" value="Please enter your name..." onfocus="this.select()">
            </form>
            `)
            document.getElementById('username').focus();
        }
    }
</script>

<body>
</body>