<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

<script>
    var socket = io();
    socket.on('json', function(data) {
        if (data['command'] == 'redirect') {
            window.location.replace(data['url']);
        }
    });

    function get_username() {
        if (document.cookie.length==0) {
            return false;
        } else {
            return document.cookie.split("=")[1]
        }        
    }
    function setUsernameAndReload(){
        username = document.getElementById('username').value;
        document.cookie = "username="+username;
    }
    function join_room() {
        var game_name = $("#game_name").val();
        var username = get_username();
        socket.emit('json', {'command':'join_game', 'username':username, 'game_name':game_name})
        return false
    }

    window.onload = function get_body() {
        var username = get_username();
        var body = document.getElementsByTagName('body')[0];
        if (username) {
            body.insertAdjacentHTML('afterbegin', `
            <form onsubmit="return join_room();">
                <input type="text" id="game_name" value="Please enter a room name..." onfocus="this.select()"/>
            </form>
            `)
            document.getElementById('game_name').focus();
        } else {
            body.insertAdjacentHTML('afterbegin', `
            <form onsubmit="setUsernameAndReload();">
                <input type="text" id="username" value="Please enter your name..." onfocus="this.select()">
            </form>
            `)
            document.getElementById('username').focus();
        }
    }
</script>

<body>
</body>